<!DOCTYPE html>
<html>
    <head>
        <title>Scanner de port</title>
    </head>

    <body>
        <h1>Port scanner</h1>
        <form action="/login" method="post">
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" required/>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required/>
            <button type="submit">submit</button>
        </form>
        
    </body>
</html>